@charset "UTF-8";
/* summer vacation (@scheme color): #32D081, #CCEFAB, #F66867, #F7DD7D, #5BC5EA, #3D93DD */

/* General //////////////////////////////// */
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #5BC5EA;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px;
    color: black;
}

/* Header ///////////////////////////////// */
h1 {
	flex-basis: 95%;
	align-self: center;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

header {
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px 0;
    background-color: #32D081;
}

header > * {
	z-index: 2;
}

#menu {
	margin-left: 10px;
	flex-basis: 10px;
	border: 2px #5BC5EA solid;
	border-radius: 10px;
	padding: 20px 25px;
	background-color: #F66867;
	text-align: center;
	color: white;
}

#menu:active {
	background-color: #F7DD7D;
	color: black;
}


/* Main /////////////////////////////////// */
audio {
    display: block;
    margin: 40px auto 0;
}

label {
    display: block;
    margin: 40px auto 0;
    border: 1px #F66867 solid;
    border-radius: 20px;
    min-width: 20%;
    max-width: 30%;
    padding: 20px 20px;
    background-color: #3D93DD;
    text-align: center;
    color: white;
}

label:active {
    border: 2px #3D93DD dashed;
    background-color: #F7DD7D;
    color: black;
}

p {
    margin: 40px auto 0;
    border: 1px #3D93DD solid;
    border-radius: 6px;
    min-width: 25%;
    max-width: 35%;
    padding: 40px 40px;
    background-color: #F7DD7D;
    text-align: center;
}

.feedback-detail {
    display: block;
    margin: 0 auto;
    padding: 10px 0 0;
}

.navigation-head {
	text-decoration: underline;
}

.navigation-hidden {
	left: -500px;
}

.navigation-list {
	list-style-type: none;
	padding: 0;
}

.navigation-list-item {
	padding: 8px 0;
}

.navigation-list-link {
	text-decoration: none;
	color: white;
}

.navigation-list-link:active {
	font-weight: bold;
	color: #3D93DD;
}

.navigation-list-link:hover {
	text-decoration: underline;
}

.navigation-visible {
	left: 0px;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

#navigation {
	position: absolute;
	top: 83px;
	z-index: 1;
	margin: 0;
	border-radius: 8px;
	min-height: 83%;
	padding: 0 10px;
	background-color: #F66867;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	transition: 2s all ease-out;
}

/* Footer ///////////////////////////////// */
footer {
    position: fixed;
    bottom: 0;
    z-index: 2; 
    margin: 0;
    min-width: 100%;
    padding: 10px 0;
    background-color: #CCEFAB;
    font-size: 1.2em;
    text-align: center;
}